.Bahut-Bada
{
    text-align: center;
    opacity: 80%;
    font-size: 200px;
}

.Bahut-Bada2
{
    text-align: center;
    opacity: 60%;
    font-size: 40px;
}

.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 20px #fff,
        0 0 50px #fff,
        0 0 80px #0fa,
        0 0 120px #0fa,
        0 0 200px #0fa,
        0 0 350px #0fa,
        0 0 500px #0fa;
  }


.Features{
    font-size: 500px;
}

.lefties{
    margin-left: 300px;
}


.Larger-Camera-Container{
    
    float:right;
    display: flex;
    margin-top: 70px;
    
}
.camera-container {
    perspective: 800px;
    width: 200px;
    height: 200px;
  }
  
  .camera {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate 4s infinite linear;
  }
  
  .camera-lens {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: rgb(34, 34, 34);
    border-radius: 50%;
    transform: translateZ(100px);
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
  }
  
  .camera-body {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #6cea87;
    border-radius: 10px;
    transform: translateZ(60px) translateY(60px);
    left: 50%;
    margin-left: -50px;
  }
  
  .camera-base {
    position: absolute;
    width: 150px;
    height: 20px;
    background-color: #6cea87;
    bottom: 0;
    left: 50%;
    margin-left: -75px;
  }
  
  @keyframes rotate {
    0% {
      transform: rotateX(45deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(45deg) rotateY(360deg) rotateZ(360deg);
    }
  }     
        body{
            background-color: black;
            color:white;
            margin-left:20%;
            margin-right:20%;
        }

        h1{
            text-align: center;
        }

        ul{
            list-style:none;
            margin-bottom:3rem;
        }

        hr{
            /* background: linear-gradient (to bottom right,(rgba(255, 255, 255, 0),rgb(17, ,9, 162,1),rgba(255, 255, 255, 0))); */
            padding:0.05rem;
            border:0;
            margin:0.75rem;
        }

        li{
            text-align:center;
        }

        .content{
            text-align:center;

        }

        .modules{
            grid-area:1/2/3/2;
            border-style: solid;
            border-color:rgb(15, 52, 21);
        }
        .temp
        {
            font-size: large
        }
        .software{
            border-style:solid;
            border-color:rgb(10, 60, 7);
        }

        p{
            display:block;
            width:100%;
        }


        .cube-container {
            perspective: 800px;
            width: 200px;
            height: 200px;
            margin-left: 400px;
            margin-top: 50px;
          }
          
          .cube {
            position: relative;
            width: 100px;
            height: 100px;
            font-size: x-large;
            transform-style: preserve-3d;
            animation: levitate 4s infinite ease-in-out alternate;
          }
          
          .cube-face {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #6cea87; /* Adjust cube face color */
            opacity: 0.8; /* Adjust cube face opacity */
          }
          
          .front {
            transform: translateZ(50px);
          }
          
          .back {
            transform: rotateY(180deg) translateZ(50px);
          }
          
          .left {
            transform: rotateY(-90deg) translateZ(50px);
          }
          
          .right {
            transform: rotateY(90deg) translateZ(50px);
          }
          
          .top {
            transform: rotateX(-90deg) translateZ(50px);
          }
          
          .bottom {
            transform: rotateX(90deg) translateZ(50px);
          }
          
          @keyframes levitate {
            0% {
              transform: translateY(0);
              transform: rotate3d(2,0,2,30deg);
            }
            100% {
              transform: translateY(-100px);
              transform: rotate3d(0,2,0,270deg);
            }
          }